<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




    This is Profile
    <h1>{{user.username}}</h1>
    <h3>You have an email id : {{ user.email }}</h3>
    <h3>Your Firstname : {{ user.first_name }}</h3>
    <h3>Your Lastname : {{ user.last_name }}</h3>

    {% for d in data %}
        <h2>Year{{ d.year }}</h2>
        <h3>Your Phonenumber : {{ d.number }}</h3>       
    {% endfor %}
    {% if user.is_authenticated %}
    

     <a class="button" type="submit" href="{%  url 'Qpage' %}">start quiz</a>
     <a class="button" type="submit" href="{%  url 'logout' %}">Logout</a>
    
    {% endif %}
     




</body>
</html>