ul{
    margin: 0 auto;
    text-align: center!important;
    
}

li{
    display: inline-block;
    vertical-align: top;
    color: cornsilk;
    font-weight: 900;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF, 0 0 8px black;
    
}
h2{
    text-align: center;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF, 0 0 8px black;
    
    /* text-shadow: 0.2rem 0.2rem 0.8rem black; */

}
body{
    background: -webkit-linear-gradient(left, #b224ef, #7579ff);
}
.button{
    
    text-align: center;
    text-decoration: none;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 210px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
      
}
.button:hover{
    
    background: -webkit-linear-gradient(left, #b224ef, #7579ff);
    color: black;
  }