<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<body>
    <h2>OUTPUT: </h2>
    {% csrf_token %}
        {% for n in solnum %}
            <ul >
                <li>{{n}}</li>
            </ul>
        {% endfor %}
        
        <a class="button" href="{% url 'glad-about' %}" >BACK TO HOMEPAGE</a>
        
</body>
</html>