<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'positive.css' %}">
</head>
<body>
    <div class="j">
    <h1 class="l">Enter a valid Number</h1>
    <h2 class="l">Please enter a positive Number</h2>
    
    <a class="button" href="{% url 'glad-about' %}" >BACK TO HOMEPAGE</a>
    
    </div>
</body>
</html>